<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>gittrack</title>
    </head>
    <body style="font-family:sans">
        <div style="width:1200px;background-color:cyan">
            <div style="width:10%;float:left;background-color:">
                <div style="padding:5px 5px 10px 5px; text-align:center;background-color:">
                    Date/time
                </div>
                <div style="background-color:;position:relative">
                    <div style="height:46px;background-color:#ddd;border:solid;border-color:white;position:absolute;top:0px;left:14px">
                        <div style="padding:5px;text-align:center">
                            Monday<br/>
                            2015/1/4
                        </div>
                    </div>
                    <div style="height:46px;background-color:black;color:white;border:solid;border-color:white;position:absolute;top:120px;left:14px">
                        <div style="padding:5px;text-align:center">
                            Tuesday<br/>
                            2015/1/5
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:30%;float:left">
                <div style="padding:5px 5px 10px 5px;text-align:center;background-color:">
                    silas
                </div>
                <div style="position:relative;background-color: green">
                    <div style="width:96%;height:46px;background-color:#fb8;border:dashed;border-color:white;position:absolute;top:0px">
                        <div style="padding:5px">
                            <div style="background-color:#333;color:#eee;padding: 0 2px 0 2px; float:left">
                                1
                            </div>
                            &nbsp;
                            Two times two is five? Really?
                        </div>
                    </div>
                    <div class="card" vp="1" style="width:96%;height:46px;background-color:#fb8;border:dashed;border-color:white;position:absolute;top:60px">
                        <div style="padding:5px">
                            <div style="background-color:#333;color:#eee;padding: 0 2px 0 2px; float:left">
                                2
                            </div>
                            &nbsp;
                            Two times two is five? Really?
                            Two times two is five? Really?
                        </div>
                    </div>
                    <div style="width:96%;height:46px;background-color:#cfc;border:solid;position:absolute;top:120px">
                        <div style="padding:5px">
                            <div style="background-color:#333;color:#eee;padding: 0 2px 0 2px; float:left">
                                4
                            </div>
                            &nbsp;
                            Two times two is five? Really?
                        </div>
                    </div>

                </div>
            </div>
            <div style="width:30%;float:left">
                <div style="padding:5px 5px 10px 5px;text-align:center">
                    loren
                </div>
                <div style="position:relative;background-color: green;">
                    <div style="width:96%;height:166px;background-color:#acf;border:solid;position:absolute;top:0px">
                        <div style="padding:5px">
                            <div style="background-color:#333;color:#eee;padding: 0 2px 0 2px; float:left">
                                3
                            </div>
                            &nbsp;
                            Two times two is five? Really?
                            Two times two is five? Really?
                            Two times two is five? Really?
                            Two times two is five? Really?
                            Two times two is five? Really?
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:30%;float:left">
                <div style="padding:5px 5px 10px 5px;text-align:center">
                    danx0r
                </div>
                <div style="position:relative;background-color: green;">
                    <div class="card" vp="2" style="width:96%;height:46px;background-color:#b22;border:dashed;border-color:white;position:absolute;top:120px">
                        <div style="padding:5px;color:white">
                            <div style="background-color:#333;color:#eee;padding: 0 2px 0 2px; float:left">
                                125
                            </div>
                            <div style="float:left">
                                &nbsp;
                            </div>
                            <div style="background-color:#787878;color:white;font-size:90%;padding: 0 2px 0 2px; float:left">
                                2
                            </div>
                            &nbsp;
                            Two times two is five? Really?
                            Two times two is five? Really?
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button onclick="test(1.05)" style="position:absolute;top:500px;left:0px">zoom in</button>
        <button onclick="test(.95)" style="position:absolute;top:500px;left:110px">zoom out</button>
        <script>
            mul=60.0;
            function test(f) {
                mul *= f;
                var els = document.querySelectorAll(".card");
                console.log(els);
                for(var i=0; i<els.length; i++) {
                    var el = els[i]
                    var vp = parseFloat(el.getAttribute('vp'))
                    console.log(vp);
                    el.style.top = "" + (vp*mul+"px");
                }
            }
        </script>
    </body>
</html>
